In [2]:
print ("Olá Mundo")

Olá Mundo

# Primeiro Título

## Segundo Título

In [34]:
import pandas as pd
import numpy as np

In [35]:
# Criar Serie

pd.Series(np.random.randn(5), index=['a','b','c','d','e'])

a    0.804232
b    0.862029
c    0.682254
d   -1.852974
e    0.609652
dtype: float64

In [36]:
s = pd.Series(np.random.randn(5), index=['a','b','c','d','e'])

In [37]:
print(s)

a    1.418261
b    0.615530
c    1.651374
d    0.598261
e   -1.455237
dtype: float64

In [38]:
print(s[0])

1.41826133261

In [39]:
# Create a dataframe

df = pd.DataFrame(s, columns = ['Column 1'])
df

   Column 1
a  1.418261
b  0.615530
c  1.651374
d  0.598261
e -1.455237

In [40]:
df['Column 1']

a    1.418261
b    0.615530
c    1.651374
d    0.598261
e   -1.455237
Name: Column 1, dtype: float64

In [45]:
# Easy to add columns

df['Column 2'] = df['Column 1'] * 4
df

   Column 1  Column 2
a  1.418261  5.673045
b  0.615530  2.462121
c  1.651374  6.605495
d  0.598261  2.393046
e -1.455237 -5.820950

In [46]:
df.sort_values(by = 'Column 2')
df

   Column 1  Column 2
a  1.418261  5.673045
b  0.615530  2.462121
c  1.651374  6.605495
d  0.598261  2.393046
e -1.455237 -5.820950

In [43]:
df[df['Column 2'] <= 2]

   Column 1  Column 2
e -1.455237  -5.82095

In [47]:
df.describe()

       Column 1  Column 2
count  5.000000  5.000000
mean   0.565638  2.262552
std    1.224059  4.896235
min   -1.455237 -5.820950
25%    0.598261  2.393046
50%    0.615530  2.462121
75%    1.418261  5.673045
max    1.651374  6.605495